<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="hello" class="com.javathesimpleway.ioc.Hello">
		<!-- collaborators and configuration for this bean go here -->
		<property name="aobj" ref="ao" />
		<property name="bobj" ref="bo" />
	</bean>

	<bean id="ao" class="com.javathesimpleway.ioc.A">
		<!-- collaborators and configuration for this bean go here -->
	</bean>
	<bean id="bo" class="com.javathesimpleway.ioc.B">
		<!-- collaborators and configuration for this bean go here -->
	</bean>
<bean id="bo1" class="com.javathesimpleway.ioc.B"/>
</beans>